*{
	background-color: #F2F2F2;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

body{
	width: 400px;
}

.container{
	display: flex;
	justify-content: space-around;
	padding: 10px 5px;
	color: #9EA0A5;
	font-size: 10px;
}

.first-item a{
	color: #9EA0A5;
	text-decoration: none;	
}

.sec-item a{
	color: #9EA0A5;
}

.sign-up {
	line-height: 1.2em;
	margin: 5px 5px 20px 65px;
}

.sign-up :first-child{	
    font-size: 15px;
    font-weight: 550;
}

.sign-up :last-child{
	color: #9EA0A5;
	font-size: 10px;
}

#form{
	margin: 5px 5px 15px 65px;
}

#form input{
	padding: 8px 150px 8px 5px;
	margin: 10px 0;
	color: #9EA0A5;
	font-size: 10px;
	border: 1px solid #9EA0A5;
	border-radius: 3px;
}	


#form .last-name input{
     border: 2px solid #1665D8;
}

.terms-condition{
	color:  #9EA0A5;
	font-size: 12px;
}

.terms-condition a{
    color: #425A70;
    font-size: 12px;
}

#form button{
	background-color: #1665D8;
	color: #FFFFFF;
	font-size: 10px;
	padding: 10px 106px;
	margin: 10px 0;
	border: none;
}

